*{
    margin: 0px;
    padding: 0px;
    background-color:#1f2235 ;
    color: #fff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
}
a{
    text-decoration: none;
    
}
.container{
    max-width: 1920px;
    margin-left: auto; 
    margin-right: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;
    margin-left: 816px;
    margin-bottom: 267px;
  
}
.header-nav-list{
    padding: 42px 0 43px 0;
    width: 601px;
    display: flex;
    justify-content: space-between;
}
.header-nav-list .header-nav-list-link:first-child{
    color: #FE461C;;
}
.btn{
    padding: 17px 14px 18px 15px;
    border-radius: 4px;
    background-color: #FE461C;
    border: 0;
}

.social-media{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.social-media div::before{
     position: absolute;
     content: url('/assets/img/in.png');
     align-items: center;
     width: 50px;
     height: 50px;
     background-color: #24263B;
     border-radius: 4px;
     border: 1px dashed #C4C4C4;
}
.social-media div:last-child:before{
     border:none;
}


.main-banner{
    max-width: 654px;
    margin: 0 auto;
}
.banner-subtitle{
    margin-bottom: 16px;
}
.banner-subtitle h5{ 
    font-family: Public Sans;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.15em;
}
.banner-title{
    width: 662px;
    margin-bottom: 31px;
}
.banner-title h1, .banner-title span{
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;}
   
.banner-title span{
    color: #FE461C;
}
.banner-description{
   max-width: 521px;   
   margin-bottom: 36px;
}
.banner-description h6{
    font-family: Public Sans;
    font-weight: 500;
    line-height: 30px;

}
.btn-row{
    display: flex;
    gap: 23px;
}
.btn-row .btn:first-of-type{
    padding: 17px 47px 18px 48px;
}
.transparent{
    padding: 17px 18px 18px 18px;
    background-color: transparent;
    border:2px solid #fff;
    box-sizing: border-box;
    
}
@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit/Outfit-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: "Public Sans";
    src: url("../fonts/Public_Sans/PublicSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    
  }
  @font-face {
    font-family: "Public Sans";
    src: url("../fonts/Public_Sans/PublicSans-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
@font-face {
    font-family: "Public Sans";
    src: url("../fonts/Public_Sans/PublicSans-Light.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  