* {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: "Outfit";
  font-size: 16px;
  line-height: 15px;
  box-sizing: border-box;
}
body {
  background-color: #1f2235;
}
a {
  text-decoration: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.accent {
  background-color: #24263b;
}
.container {
  width: 1321px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
  font-weight: 700;
  margin-left: 816px;
  margin-bottom: 235px;
}
.header-nav-list {
  padding: 42px 0 43px 0;
  width: 601px;
  display: flex;
  justify-content: space-between;
}
.header-nav-list .header-nav-list-link:first-child {
  color: #fe461c;
}
.btn {
  padding: 17px 14px 18px 15px;
  border-radius: 4px;
  background-color: #fe461c;
  border: 0;
}
.banner {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 47px;
  margin-bottom: 200px;
}
.social-media div img {
  width: 80px;
  height: 80px;
}

/* .social-media .in::before {
  position: absolute;
  content: url("/assets/img/in.png");
  text-align: center;
  width: 22px;
  height: 21px;
  top: 15px;
  left: 12px;
  z-index: 1;
}
.social-media .inst::before {
  position: absolute;
  content: url("/assets/img/inst.png");
  text-align: center;
  width: 22px;
  height: 21px;
  top: 75px;
  left: 12px;
  z-index: 1;
}
.social-media .be::before {
  position: absolute;
  content: url("/assets/img/be.png");
  text-align: center;
  width: 22px;
  height: 21px;
  top: 140px;
  left: 12px;
  z-index: 1;
}
.social-media div::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #24263b;
  border-radius: 4px;
} */

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 654px;
  position: relative;
}
.circle {
  width: 204px;
  height: 204px;
  background-color: rgba(187, 197, 211, 0.08);
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: 82%;
}
.banner-subtitle {
  margin-bottom: 16px;
}
.banner-subtitle h5 {
  font-family: "Public Sans";
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0.15em;
}
.banner-title {
  width: 662px;
  margin-bottom: 31px;
}
.banner-title h1,
.banner-title span {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}

.banner-title span {
  color: #fe461c;
}
.banner-description {
  max-width: 521px;
  margin-bottom: 36px;
}
.banner-description h6 {
  font-family: "Public Sans";
  font-weight: 500;
  line-height: 30px;
}
.btn-row {
  display: flex;
  gap: 23px;
  margin-bottom: 225px;
}
.btn-row .btn:first-of-type {
  padding: 17px 47px 18px 48px;
}
.transparent {
  padding: 17px 18px 18px 18px;
  background-color: transparent;
  border: 2px solid #fff;
  box-sizing: border-box;
}
.programs-set {
  width: 634px;
  height: 634px;
  background-color: #171929;
  border-radius: 50%;
  position: relative;
  margin-bottom: 24px;
  right: 100px;
}
.programs-set div {
  position: absolute;
  width: 80px;
  height: 80px;
}
.programs-set .figma {
  top: 0;
  left: -70px;
}
.programs-set .photoshop {
  right: -70px;
}
.programs-set .sketch {
  bottom: 130px;
  right: -70px;
}
.programs-set .xd {
  bottom: 130px;
  left: -70px;
}
.about_me {
  padding-top: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59px;
}
.picture_about_me {
  width: 600px;
  height: 529px;
}
.biography-subtitle h5,
.portfolio-subtitle h5,
.services-subtitle h5,
.resume-subtitle h5,
.testimonial-subtitle h5,
.blog-subtitle h5,
.contact-block-subtitle h5 {
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.15em;
  margin-bottom: 19px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(15, 16, 24, 0.42);
  background: rgb(36, 38, 59);
  padding: 12px 14px;
  text-align: center;
}
.biography-title h2,
.portfolio-title h2,
.services-title h2,
.resume-title h2,
.testimonial-title h2,
.blog-title h2,
.contact-block-title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 15px;
}
.biography-subtitle h5 {
  width: 119px;
}
.biography-description {
  max-width: 524px;
  margin-bottom: 23px;
}
.biography-description-block {
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.biography-tags {
  display: flex;
  flex-direction: row;
  line-height: 26px;
  gap: 54px;
  margin-top: 20px;
}
.biography-tags-title {
  font-weight: 500;
}
.biography-tags-subtitle {
  font-weight: 300;
  display: flex;
  align-items: baseline;
}
.biography-tags .biography-tags-subtitle:last-child::before {
  content: ":";
  padding-bottom: 20px;
  padding-right: 5px;
}
.biography-tags {
  display: flex;
  margin-bottom: 38px;
}
.biography-tags div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.biography-tags div div {
  display: flex;
  flex-direction: row;
}
.btn-biography {
  padding: 21px 19px 20px;
  margin-bottom: 134px;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-list {
  width: 476px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 36px;
}
.portfolio-subtitle h5 {
  margin-top: 120px;
}
.mockups {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 119px;
}
.mockups div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.mockups div div {
  border-radius: 8px;
  background: rgb(217, 217, 217);
  width: 424px;
}
.mockups-first-group-first,
.mockups-second-group-second,
.mockups-third-group-first {
  height: 260px;
}
.mockups-first-group-second,
.mockups-second-group-first,
.mockups-third-group-second {
  height: 544px;
}
ul li {
  list-style: none;
  background: rgb(217, 217, 217);
  left: 29px;
}
.mockups-second-group-first li:first-child {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  bottom: 58px;
}
.mockups-second-group-first li:last-child {
  font-family: "Poppins";
  font-weight: 400;
  line-height: 15px;
  position: absolute;
  bottom: 28px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-title h2 {
  margin-bottom: 55px;
}
.services-subtitle h5 {
  margin-top: 132px;
  width: 173px;
}
.services-technology div img {
  width: 50px;
  height: 50px;
}
.services-technology {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
.services-technology div {
  width: 307px;
  height: 360px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-left: 25px;
  padding-top: 27px;
  background-color: #1f2235;
  border-radius: 8px;
  margin-left: 31px;
}
.services-technology h6 {
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
.services-technology p {
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  max-width: 238px;
}
.btn-services-technology {
  width: 45px;
  height: 45px;
  background-color: #24263b;
  border-radius: 50%;
  border: none;
}
.arrow {
  border: solid #fff;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(319deg);
  position: relative;
}
.arrow::before {
  content: "";
  width: 14px;
  border-top: 3px solid #fff;
  transform: rotate(42deg);
  top: 6px;
  left: 0px;
  position: absolute;
}
.btn-services-technology:hover {
  background-color: #fe461c;
}
/* .arrow {
  position: relative;
  display: inline-block;
  width: 15px;
  margin-bottom: 7px;
}

.arrow:before,
.arrow:after {
  position: absolute;
  content: "";
}
.arrow:before {
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.arrow:after {
  top: calc(50% - 6px);
  left: calc(100% - 6px);
  border: 6px solid transparent;
  border-left-color: #fff;
} */
.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 123px;
  gap: 97px;
  position: relative;
}

.resume-subtitle h5 {
  text-align: center;
  width: 87px;
}
.resume-list {
  display: flex;
  gap: 20px;
  margin-bottom: 39px;
}
.resume-list-link {
  display: inline-block;
  padding: 10px 19px 10px 19px;
  border-radius: 4px;
  background-color: #24263b;
}
.resume-list-link:hover {
  background-color: #fe461c;
}
.active {
  background-color: #fe461c;
}
.range-technology div div {
  display: flex;
  width: 606px;
  justify-content: space-between;
  margin-bottom: 15px;
}
.range-technology div div p {
  color: rgb(255, 255, 255);
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
.range-technology div input {
  width: 606px;
  height: 18px;
  background-color: #fff;
  border-radius: 300px;
  appearance: none;
  outline: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 43px;
}
.range-technology div input::-webkit-slider-thumb {
  width: 65px;
  height: 18px;
  background-color: #fff;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  border: 0;
  appearance: none;
  cursor: pointer;
}
.range-technology div input:before {
  position: absolute;
  content: "";
  width: 550px;
  height: 18px;
  background-color: #fe461c;
  border-radius: 300px;
  appearance: none;
  outline: none;
  overflow: hidden;
  left: 0;
}
.range-technology div .photoshop:before {
  position: absolute;
  content: "";
  width: 496px;
  background-color: #fe461c;
}
.range-technology div .after_Effect:before {
  position: absolute;
  content: "";
  width: 429px;
  background-color: #fe461c;
}
.range-technology div .figma:before {
  position: absolute;
  content: "";
  width: 359px;
  background-color: #fe461c;
}
.resume .picture_about_me {
  bottom: 75px;
}
.accent-testimonial {
  background-color: #24263b;
  padding-bottom: 10px;
}
.testimonial-block-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 300px;
}
.testimonial-subtitle h5 {
  margin-top: 120px;
  width: 161px;
}
.testimonial-subtitle {
  display: flex;
  justify-content: center;
}

.testimonial-title h2 {
  margin-bottom: 49px;
  display: flex;
  justify-content: center;
}
.testimonial-block {
  position: relative;
  width: 424px;
  height: 241px;
  background-color: #1f2235;
}
.testimonial-description {
  position: relative;
  padding-top: 41px;
  padding-left: 42px;
}
.testimonial-description div {
  display: flex;
}
.testimonial-description h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 15px;
}
.testimonial-description h6 {
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 15px;
}

.testimonial-description p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
  width: 337px;
}
.testimonial-description span {
  width: 290px;
  height: 1px;
  background-color: #e6e7e8;
  margin-bottom: 15px;
}
.testimonial-description:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 60px solid #1f2235;
  border-right: 60px solid transparent;
  bottom: 51px;
  left: 0;
}
.testimonial-description-circle img {
  width: 70px;
  height: 70px;
  margin-top: 40px;
  margin-left: -40px;
  margin-bottom: -20px;
}

.testimonial-block .quotes {
  position: absolute;
  top: 37px;
  right: 97px;
}
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-subtitle h5 {
  width: 130px;
  margin-top: 120px;
  margin-bottom: 22px;
}
.blog-title h2 {
  margin-bottom: 61px;
}
.blog-blocks {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 119px;
}

.blog-block-image {
  border-radius: 8px;
  background: rgb(217, 217, 217);
  height: 315px;
  width: 424px;
  margin-bottom: 26px;
}
.blog-block-items div {
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
}
.blog-block-description-items {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.blog-block-description-items div {
  display: flex;
  gap: 9px;
  margin-bottom: 15px;
}
.blog-block-name {
  font-family: "Outfit";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}
.blog-block-name-description {
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 360px;
}
.subscribe {
  padding: 120px 0px;
  display: flex;
  justify-content: center;
}
.subscribe-block {
  width: 1320px;
  height: 390px;
  background-color: #1f2235;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.subscribe-block-description {
  padding: 130px 80px;
  margin-right: 140px;
}
.subscribe-block-description h5 {
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 9px;
}
.subscribe-block-description h2 {
  font-family: "Outfit";
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 12px;
  width: 479px;
}
.subscribe-block-description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.subscribe-block-email {
  margin-top: 15%;
  margin-right: 50px;
}
.subscribe-block-email input {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #9da1b4;
  background-color: #fff;
  border: none;
  padding: 21px 346px 20px 20px;
  border-radius: 80px;
}
.btn-subscribe {
  position: absolute;
  padding: 22px 53px 23px 54px;
  border-radius: 80px;
  background-color: #fe461c;
  border: none;
  color: #fff;
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  right: 0;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-block-subtitle h5 {
  margin-top: 130px;
  margin-bottom: 19px;
  background-color: #24263b;
  width: 133px;
}
.contact-block-title h2 {
  margin-bottom: 46px;
}
.contact-group {
  display: flex;
  gap: 100px;
}
.contact-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-data-item {
  width: 368px;
  height: 117px;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: rgb(36, 38, 59);
}
.contact-data-item div h6 {
  font-family: "Outfit";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 8px;
}
.contact-data-item div p {
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 224px;
}
.send-message-title h6 {
  font-family: "Outfit";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 28px;
}
.input-group {
  display: flex;
  gap: 30px;
}
.input-box input,
.textarea textarea {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: #24263b;
  padding: 16.8px 217px 12.32px 29px;
  min-height: 56px;
  width: 100%;
  color: rgb(112, 113, 123);
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.textarea textarea {
  padding: 15px 545px 176px 32px;
}
.send-message-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}
.btn-message {
  color: rgb(255, 255, 255);
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  padding: 21px 30px 20px 50px;
  border-radius: 4px;
  background-color: #fe461c;
}
.container-map {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
}
footer p {
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/Outfit-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/Outfit-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/Public_Sans/PublicSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/Public_Sans/PublicSans-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/Public_Sans/PublicSans-Light.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/Public_Sans/PublicSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
