@media (min-width: 320px) and (max-width: 480px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    margin-left: 0;
    margin-bottom: 15px;
    gap: 5px;
  }
  .header-nav-list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
  }
  .main-banner {
    margin-left: 9px;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .circle {
    width: 100px;
    height: 100px;
    left: -8px;
  }
  .banner-subtitle {
    margin-bottom: 16px;
  }

  .banner-title {
    margin-bottom: 10px;
  }
  .banner-title h1,
  .banner-title span {
    font-size: 25px;
    width: 290px;
    line-height: 50px;
  }
  .banner-description {
    margin-bottom: 15px;
  }
  .banner-description h6 {
    line-height: 30px;
    width: 325px;
  }
  .btn-row {
    margin-bottom: 40px;
    gap: 5px;
  }
  .btn-row .btn {
    padding: 15px 25px;
  }
  .programs-set {
    width: 150px;
    height: 150px;
    margin-left: 185px;
  }
  .programs-set div img {
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .programs-set .figma {
    top: -10px;
    left: -30px;
  }
  .programs-set .photoshop {
    bottom: -30px;
    right: -80px;
  }
  .programs-set .sketch {
    bottom: 80px;
    right: -80px;
  }
  .programs-set .xd {
    bottom: -30px;
    left: -30px;
  }
  .about_me {
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
  }
  .picture_about_me {
    margin-bottom: 0;
  }
  .picture_about_me img {
    width: 300px;
    height: 229px;
    margin-left: 15px;
  }
  .biography-description {
    max-width: 320px;
    margin-bottom: 10px;
  }
  .biography-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
