@media (min-width: 480px) and (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .social-media {
    margin-left: 0;
  }
  .circle {
    top: -50px;
    left: 20%;
  }
  .main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .banner-title,
  .banner-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
  }
  .banner-description h6 {
    padding-left: 20px;
    width: 380px;
  }
  .btn-row {
    margin-bottom: 40px;
    gap: 20px;
  }
  .programs-set {
    width: 250px;
    height: 250px;
  }
  .programs-set .sketch {
    bottom: 180px;
    right: -80px;
  }
  .picture_about_me {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .biography-description {
    max-width: 380px;
  }
  .portfolio-title h2 {
    width: 300px;
  }
  .mockups div div {
    width: 320px;
  }
  .services-technology {
    justify-content: center;
  }
  .services-technology div {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .services-technology {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }
  .range-technology div input {
    width: 320px;
  }
  .range-technology div input:before {
    width: 288px;
  }
  .range-technology div .photoshop:before {
    width: 256px;
  }
  .range-technology div .after_Effect:before {
    width: 224px;
  }
  .range-technology div .figma:before {
    width: 192px;
  }
  .testimonial-block {
    width: 320px;
  }
  .testimonial-title h2 {
    margin-bottom: 30px;
    width: 320px;
  }
  .blog-block-description-items {
    gap: 40px;
  }
  .blog-block-image {
    width: 320px;
  }
  .blog-block-name-description {
    width: 320px;
  }
  .subscribe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
  }
  .subscribe-block {
    width: 320px;
    height: 390px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subscribe-block-description p {
    margin-bottom: 50px;
  }
  .subscribe-block-email input {
    padding: 21px 155px 20px 25px;
  }
  .btn-subscribe {
    right: -70px;
  }
  .contact-block-subtitle h5 {
    margin-top: 30px;
  }
  .input-box input,
  .textarea textarea {
    padding: 16.8px 105px 12.32px 29px;
  }
  .textarea textarea {
    padding: 15px 105px 276px 32px;
  }
  .send-message-group {
    margin-bottom: 20px;
  }
  .send-message-title h6 {
    text-align: center;
  }
  .contact-data-item {
    width: 320px;
  }

  iframe {
    width: 320px;
  }
}
