@media (min-width: 1024px) and (max-width: 1440px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .header-nav-list {
    flex-direction: row;
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .circle {
    left: -100px;
  }
  .container {
    width: 1024px;
  }
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
  }
  .social-media div img {
    width: 150px;
    height: 150px;
  }
  .programs-set {
    right: 0;
    width: 500px;
    height: 500px;
  }
  .picture_about_me {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .picture_about_me img {
    width: 780px;
  }
  .portfolio {
    gap: 30px;
  }
  .portfolio-list {
    flex-direction: row;
    gap: 15px;
  }
  .portfolio-title h2 {
    width: 500px;
  }
  .mockups div {
    display: flex;
    flex-direction: row;
    height: 360px;
  }
  .mockups div div {
    border-radius: 8px;
    background: rgb(217, 217, 217);
    width: 324px;
  }
  .services.accent {
    padding-bottom: 100px;
  }
  .services-technology {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .services-technology div {
    width: 324px;
  }
  .resume {
    flex-wrap: wrap;
    gap: 150px;
  }
  .range-technology div input {
    width: 680px;
  }
  .range-technology div input:before {
    width: 612px;
  }
  .range-technology div .photoshop:before {
    width: 544px;
  }
  .range-technology div .after_Effect:before {
    width: 476px;
  }
  .range-technology div .figma:before {
    width: 408px;
  }
  .testimonial-block-set {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .accent-testimonial {
    padding-bottom: 80px;
  }
  .blog-blocks {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .blog-block-description-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .subscribe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 300px;
  }
  .subscribe-block-description {
    margin-right: 0;
  }
  .subscribe-block-email {
    margin-right: 0;
  }
  .subscribe-block-email input {
    padding: 21px 376px 20px 20px;
  }
  .btn-subscribe {
    padding: 22px 53px 23px 54px;
    right: 35px;
  }
  .contact-group {
    flex-direction: row;
  }
  .contact-block-subtitle h5 {
    margin-top: 50px;
  }
  .send-message {
    padding-top: 50px;
  }
  iframe {
    width: 780px;
  }
}
